* {
  padding: 0;
  margin: 0;
  text-align: center;
}

body {
  background-color: #019544;
}

#game {
  display: flex;
  /* background-color: #8dc53e; */
}

.game-intro {
  width: 646px;
  height: 100%;
  position: relative;
}

.game-intro img {
  object-fit: cover;
  width: 100%;
}

#quizz-box {
  position: absolute;
  left: 146px;
  top: 131px;

  width: 1000px;
  height: 700px;
  background-color: #8dc53e;

  visibility: hidden;
}

.buttondiv {
  position: absolute;
  bottom: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.buttondiv button {
  font-size: 30px;
  background-color: #282828;
  color: #8dc53e;
  border: 3px solid red;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 220px;
}

.board-img {
  width: 380px;
  margin-top: 20px;
}

#lifes {
  width: 20%;
}
