* {
  padding: 0;
  margin: 0;
  text-align: center;
}

.game-intro {
  width: 50vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-intro p {
  font-size: 18px;
  font-family: "Verdana";
}


.arrows-img {
  width: 150px;
}

body button {
  font-size: 30px;
  background-color: #009344;
  color: #8dc53e;
  padding: 20px 40px;
  border: 0;
  box-shadow: 0;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 220px;
}

#game {
  display: flex;
  /* background-color: #8dc53e; */
}

.board-img {
  width: 380px;
  margin-top: 20px;
}

.lifes {
  width: 20%;
}
