* {
  padding: 0;
  margin: 0;
  text-align: center;
  max-height: 100vh;
}

html {
  height: 100%;
  background-color: #019544;
}

#game {
  display: flex;
  background-color: #019544;
}

#game-legend {
  display: flex;
  flex-direction: column;
}

#legend-background {
  position: absolute;
}
#game-intro {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
}

#game-intro img {
  width: 100%;
  object-fit: cover;
  position: relative;
}

#start-button {
  position: absolute;
  bottom: 25%;
  left: 40%;
  width: 20%;
  background-color: transparent;
  border: transparent;
}

#quizz-box {
  position: absolute;
  left: 416.5px;
  top: 131px;
  width: 459px;
  height: 700px;
  background-image: url("./images/quizz-background.png");
  background-repeat: no-repeat;
  font-family: "Helvetica", cursive;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.answer-option {
  margin-bottom: 10px;
}

#all-answers {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

#lifes {
  position: absolute;
  top: 62%;
  left: 12%;
  width: 8%;
}

#sound-button {
  position: absolute;
  top: 70%;
  left: 14.5%;
  width: 3%;
}

#no-answer-message {
  visibility: hidden;
}

#correct-answer-message {
  visibility: hidden;
}

#cant-skip-message {
  visibility: hidden;
}

#wrong-answer-message {
  visibility: hidden;
  color: red;
}

#continue-button {
  visibility: hidden;
}

#question {
  font-size: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.quizz-button {
  background-color: #019544;
  color: white;
  padding: 10px;
  font-family: "Helvetica";
  font-weight: 700;
  font-size: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.answer {
  margin-top: 10px;
  font-size: 20px;
}

#quizz-buttons {
  margin-top: 20px;
}

#skip-button {
  margin-right: 10px;
}

#submit-button {
  margin-left: 10px;
}

#continue-button {
  width: 200px;
  margin-top: 15px;
}

.quizz-legend-questionmark {
  position: absolute;
  width: 4%;
  top: 45%;
  left: 8%;
}

.legendtext {
  position: absolute;
  font-family: Helvetica, Arial, sans-serif;
  top: 46%;
  left: 11%;
  text-align: left;
  color: black;
  font-size: 30px;
  font-weight: 600;
}

#sky-question-mark {
  top: 40%;
}

#red-question-mark {
  top: 50%;
}

#blue-question-mark {
  top: 60%;
}

#music-quizz-legend-text {
  top: 42%;
  left: 13%;
}

#geo-quizz-legend-text {
  top: 52%;
  left: 13%;
}

#maths-quizz-legend-text {
  top: 62%;
  left: 13%;
}

.front-message {
  position: absolute;
  top: 310px;
  left: 550px;
  width: 37%;
}
